# Build and Release Folders
bin/
bin-debug/
bin-release/
target/

# Other files and folders
.settings/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
*.ipr
*.iws
*.iml
.idea
drop-link-report.xml
drop-ria-fe.swc
drop-size-report.xml
compiler.config.xml
drop-as3-config-report.xml
drop-as3-example-configs.xml